
<div class="container">
  <h3>Send a Text Message</h3>

  <form (ngSubmit)="onSubmit()" #smsForm="ngForm">
      <!-- name field   -->

      <!-- terms of service with checkbox  -->

      <!-- privacy policy with checkbox  -->
    <div class="form-group">
      <input type="text" class="form-control" id="sms_phone_field" placeholder="phone number"
              [(ngModel)]="smsValue" name="sms" #sms="ngModel" required>
      <div [hidden]="sms.valid || sms.pristine"
           class="alert alert-danger">
        Number is required
      </div>

      <div style="margin-top:20px"><b>Text Message</b></div>
      <textarea class="form-control" id="smsMessageField" placeholder=""
              [(ngModel)]="smsMessageValue" name="smsMessage" #smsMessage="ngModel" rows="15" required>
      </textarea>

      <button id="send_sms" type="submit" class="btn btn-success" style="margin-top: 20px"
              [disabled]="!smsForm.form.valid">Submit</button>
    </div>

  </form>

</div>
