<h1>Users</h1>
<!--
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">delete</th>
    <th scope="col">date</th>
    <th scope="col">Phone</th>
    <th scope="col">User ID</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of list | async">
        <td><a class="nav-link"  (click)="deleteUser(user.uid)">delete</a></td>
        <td>{{ user.date.toDate() }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>{{ user.uid }}</td>
    </tr>
  </tbody>
</table>
 -->

<div class="row">
  <div class="col"><app-search-user-by-name (selectedUser)="onUserSelectedByName($event)"></app-search-user-by-name></div>
  <div class="col"><app-search-user-by-phone (selectedUser)="onUserSelectedByPhone($event)"></app-search-user-by-phone></div>
</div>
