
<div class="container">

    <div class="row" *ngIf="!browserOk">
      <div class="col">
        <h5>Switch to Safari.  Your Mac/iOS device will not allow this page to load using Chrome.  Don't blame us - blame Apple.</h5>
      </div>
    </div>
    
    
    
    <span *ngIf="okUrl && browserOk">
        <div class="row" *ngIf="browserOk">
    
          <!--
            begin:  video invitation details - who invited who and when
          -->
          <div class="col-12" *ngIf="invitation">
              <h3>SeeSaw Invitation</h3>
              <div class="row">
                <div class="col-6">
                  <span class="text-muted">To:</span> {{invitation.displayName}}
                </div>
                <div class="col-6">
                  <a href="tel:{{invitation.phoneNumber}}">{{invitation.phoneNumber | phone}}</a>
                </div>
              </div>
              
              <div class="row">
                <div class="col-6">
                  <span class="text-muted">From:</span> {{invitation.creatorName}}
                </div>
                <div class="col-6">
                  <a href="tel:{{invitation.creatorPhone}}">{{invitation.creatorPhone | phone}}</a>
                </div>
              </div>
          
              <div class="row">
                <div class="col">
                  <span class="text-muted">Date:</span> {{invitation.created_ms | date:'long'}}
                </div>
              </div>
          
              <div class="row" style="margin-top:20px;margin-bottom:50px">
                <div class="col" *ngIf="isHost">
                  You invited {{invitation.displayName}} to participate in a SeeSaw video call.  Click "Join" to join the call.
                </div>
                <div class="col" *ngIf="!isHost">
                  {{invitation.creatorName}} invited you to participate in a SeeSaw video call.  Click "Join" to join the call.
                </div>
              </div>
          </div>
          <!--
            end:  video invitation details - who invited who and when
          -->







          <!-- local participant -->
          <div class="col">
            <div id="preview" #preview style="width:30vw;">
                <div *ngIf="isInitializing"><!-- We COULD display something like this: Loading preview... Please wait.   But we really don't need to.  We are only showing the local camera once we are connected to a room --></div>
            </div>
          </div>
          <!-- local participant -->
    
          <!-- remote participant -->
          <div class="col">
            <div #list></div>
          </div>
          <!-- remote participant -->
        </div>
    
        
        <div class="row">
          <div class="col-sm-12">
            <span *ngIf="connecting"><b>Status:</b> Connecting...</span>
            <span *ngIf="activeRoom && activeRoom.state == 'connected'"><b>Status:</b> Connected &nbsp;&nbsp;&nbsp;</span>
            <span *ngIf="recording_state" [ngStyle]="{'color': recording_state=='recording' ? '#ff0000' : '#000000' }" >{{recording_state}}</span>
          </div>
        </div>
    
        <!-- display true/false - it works but really just for diagnostics
        <div class="row">
          <div class="col-sm-12">
            Host: {{isHost}}
          </div>
        </div>
        -->
        
        <div class="row" *ngIf="!joined">
          <div class="col-sm-12">
            <button id="join_call" (click)="join_call()" class="btn btn-success col-sm-12"> Join </button>
            <P>&nbsp;</P>
          </div>
        </div>
    
        
        <div class="row" *ngIf="joined">
          <div class="col-sm-12">
            <button id="leave_call" (click)="leave_call()" class="btn btn-danger col-sm-12"> Leave </button>
            <P>&nbsp;</P>
          </div>
        </div>
    
        
        <div class="row" *ngIf="isHost && roomObj && roomObj['call_ended_ms']">
          <div class="col-sm-12">
            <button id="compose" (click)="compose()" class="btn btn-success col-sm-12"> Produce Video </button>
          </div>
        </div>
    
        

        <div class="row" *ngIf="isHost && activeRoom && activeRoom.state == 'connected'">
          <div class="col-sm-4">
            <button *ngIf="recording_state == ''" id="start_recording" (click)="start_recording()" class="btn btn-danger col-sm-12"> Start Recording </button>
            <P>&nbsp;</P>
          </div>

          <div class="col-sm-4">
            <button *ngIf="recording_state == 'recording'" id="pause_recording" (click)="pause_recording()" class="btn btn-secondary col-sm-12"> Pause </button>
            <button *ngIf="recording_state == 'paused'" id="resume_recording" (click)="resume_recording()" class="btn btn-secondary col-sm-12"> Resume </button>
          </div>

          <div class="col-sm-4">
            <button *ngIf="recording_state == 'recording' || recording_state == 'paused'" id="stop_recording" (click)="stop_recording()" class="btn btn-danger col-sm-12"> Stop Recording </button>
            <P>&nbsp;</P>
          </div>
        </div>
        

        <div class="row" *ngIf="true">
          <div class="col-sm-6">
            <button (click)="setVideoMute(videoMuted)" class="btn btn-danger col-sm-12"> 
                <i [ngClass]="{'fas': true,
                               'fa-video-slash': videoMuted, 
                               'fa-video': !videoMuted}"></i> <!-- Video muted: {{videoMuted}}--> </button>
            <P>&nbsp;</P>
          </div>

          <div class="col-sm-6">
            <button (click)="setAudioMute(audioMuted)" class="btn btn-danger col-sm-12"> 
                <i [ngClass]="{'fas': true,
                               'fa-microphone-slash': audioMuted, 
                               'fa-microphone': !audioMuted}"></i> <!-- Audio muted: {{audioMuted}} --> </button>
            <P>&nbsp;</P>
          </div>
        </div>
    
    
    </span>
    
    
    <span *ngIf="!okUrl">
    bad url
    </span>
    
    
    </div>