
    <div class="row" style="margin-top:20px">          
        <div class="col">
            <span *ngIf="numberOfInvitationsRemaining == 1">Invite 1 additional person to participate in a video call</span>
            <span *ngIf="numberOfInvitationsRemaining == maxGuests">Invite up to {{numberOfInvitationsRemaining}} people to participate in a video call</span>
            <span *ngIf="numberOfInvitationsRemaining < maxGuests && numberOfInvitationsRemaining > 1">Invite up to {{numberOfInvitationsRemaining}} additional people to participate in a video call</span>
        </div>
    </div>
    
        <!-- 
          for masking, see  https://www.npmjs.com/package/ngx-mask
        -->

    <form [formGroup]="invitationForm" (ngSubmit)="onSubmit()" novalidate>
      

      <div formArrayName="nameArray">
        <div class="row" style="margin-top:20px" *ngFor="let dummy of nameArray.controls; let i = index" formGroupName="{{i}}">
            <hr/>
            <div class="col">
                <hr/>
                <div class="row">
                    <div class="col"><b>Guest #{{i+1+maxGuests-numberOfInvitationsRemaining}}</b> &nbsp;&nbsp;&nbsp; <button class="btn btn-default" (click)="removeItem(i)"><i class="fas fa-trash"></i></button></div>
                </div>
                <div class="row">
                      <div class="col-12 col-sm-6" style="margin-bottom:10px">

                           <!-- log.component.html also -->
                          <app-search-user-by-name (selectedFriend)="onFriendSelected($event, i)" [friendsOnly]="true" 
                                [formGroup_AAA]="invitationForm"
                                [formArray_AAA]="nameArray"
                                [arrayName_AAA]="'nameArray'"
                                [groupIdx_AAA]="i"
                                [controllName_AAA]="'displayName'">
                          </app-search-user-by-name>


                          <!-- validate: name - works but I like the simple border highlighing better
                          <div *ngIf="nameArray.controls[i].get('displayName') && nameArray.controls[i].get('displayName').invalid && (nameArray.controls[i].get('displayName').dirty || nameArray.controls[i].get('displayName').touched)">
                            <p class="alert alert-danger" *ngIf="nameArray.controls[i].get('displayName').errors.required">
                              Name is required 
                            </p>
                          </div>
                           -->

                      </div>


                      <div class="col-12 col-sm-6">
                          <input class="col-12 form-control" formControlName="phoneNumber" placeholder="Phone" 
                                (input)="formatPhone($event)" placeholder="(   ) ___-____"
                                [ngStyle]="{'border':   nameArray.controls[i].get('phoneNumber') && nameArray.controls[i].get('phoneNumber').invalid && (nameArray.controls[i].get('phoneNumber').dirty || nameArray.controls[i].get('phoneNumber').touched)    ? '1px solid red' : ''}">
                                
                          <!-- validate: phone - works but I like the simple border highlighing better
                          <div *ngIf="nameArray.controls[i].get('phoneNumber') && nameArray.controls[i].get('phoneNumber').invalid && (nameArray.controls[i].get('phoneNumber').dirty || nameArray.controls[i].get('phoneNumber').touched)">
                            <p class="alert alert-danger" *ngIf="nameArray.controls[i].get('phoneNumber').errors.required">
                              Phone is required
                            </p>
                            <p class="alert alert-danger" *ngIf="nameArray.controls[i].get('phoneNumber').errors.phoneNumberInvalid">
                              Phone is not valid
                            </p>
                          </div>
                           -->

                      </div>

                </div>
            </div>

        </div>
      </div>

      
      <div class="row" style="margin-top:20px">
          <div class="col">
            <!-- type="button" keeps the form from being submit, which is what we want in this case -->
            <button [hidden]="!canInvite" type="button" id="add_someone" (click)="addSomeone()" class="btn btn-primary col-sm-12"> 
                <i class="fas fa-user-plus"></i> Add Guest
            </button>
          </div>
      </div>

      
      <div class="row" style="margin-top:40px">
          <div class="col">
              <button id="doit" [hidden]="!invitationForm.valid || (names && names.length == 0)" (click)="doit()" class="btn btn-primary col-sm-12"> <i class="far fa-paper-plane"></i> Send Invite </button>
          </div>
      </div>

    </form>


