

    <form (ngSubmit)="onSubmit(invitationForm)" #invitationForm="ngForm">
        <div class="form-group">
          <input type="text" class="form-control" id="invitation_name_field" placeholder="Name"
                  [(ngModel)]="nameValue" name="name" #name="ngModel" required>
          <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
            Name is required
          </div>
        </div>
        
        <!-- 
          for masking, see  https://www.npmjs.com/package/ngx-mask
        -->
        <div class="form-group">
            <input type="text" class="form-control" id="invitation_phone_field" placeholder="Phone"
                    [(ngModel)]="phoneValue" name="phone" #phone="ngModel" required>
            <div [hidden]="phone.valid || phone.pristine"
                 class="alert alert-danger">
              Phone is required
            </div>
        </div>
  
        <button id="submit_invitation" type="submit" class="btn btn-success" [disabled]="!invitationForm.form.valid">Send Invitation</button>
        &nbsp;
        <button id="cancel_invitation" type="button" (click)="cancel(invitationForm)" class="btn btn-secondary">Cancel</button>
  
    </form>
  