<div class="container">
  <h5>Send Invitation</h5>
  Invite up to {{maxGuests}} people to participate in a video call with you
        <!-- 
          for masking, see  https://www.npmjs.com/package/ngx-mask
        -->

    <form [formGroup]="invitationForm" (ngSubmit)="onSubmit()" novalidate>
      

      <div formArrayName="nameArray">
        <div class="row" style="margin-top:20px" *ngFor="let dummy of nameArray.controls; let i = index" formGroupName="{{i}}">
            <hr/>
            <div class="col">
                <hr/>
                <div class="row">
                    <div class="col"><b>Guest #{{i+1}}</b> &nbsp;&nbsp;&nbsp; <button class="btn btn-default" (click)="removeItem(i)"><i class="fas fa-trash"></i></button></div>
                </div>
                <div class="row">
                      <div class="col-12 col-sm-6" style="margin-bottom:10px">
                          <input class="col-12 form-control" formControlName="displayName" placeholder="Name"  [ngStyle]="{'border':   nameArray.controls[i].get('displayName') && nameArray.controls[i].get('displayName').invalid && (nameArray.controls[i].get('displayName').dirty || nameArray.controls[i].get('displayName').touched)    ? '1px solid red' : ''}">

                          <!-- validate: name - works but I like the simple border highlighing better
                          <div *ngIf="nameArray.controls[i].get('displayName') && nameArray.controls[i].get('displayName').invalid && (nameArray.controls[i].get('displayName').dirty || nameArray.controls[i].get('displayName').touched)">
                            <p class="alert alert-danger" *ngIf="nameArray.controls[i].get('displayName').errors.required">
                              Name is required 
                            </p>
                          </div>
                           -->

                      </div>


                      <div class="col-12 col-sm-6">
                          <input class="col-12 form-control" formControlName="phoneNumber" placeholder="Phone"   [ngStyle]="{'border':   nameArray.controls[i].get('phoneNumber') && nameArray.controls[i].get('phoneNumber').invalid && (nameArray.controls[i].get('phoneNumber').dirty || nameArray.controls[i].get('phoneNumber').touched)    ? '1px solid red' : ''}">
                                
                          <!-- validate: phone - works but I like the simple border highlighing better
                          <div *ngIf="nameArray.controls[i].get('phoneNumber') && nameArray.controls[i].get('phoneNumber').invalid && (nameArray.controls[i].get('phoneNumber').dirty || nameArray.controls[i].get('phoneNumber').touched)">
                            <p class="alert alert-danger" *ngIf="nameArray.controls[i].get('phoneNumber').errors.required">
                              Phone is required
                            </p>
                            <p class="alert alert-danger" *ngIf="nameArray.controls[i].get('phoneNumber').errors.phoneNumberInvalid">
                              Phone is not valid
                            </p>
                          </div>
                           -->

                      </div>

                </div>
            </div>

        </div>
      </div>

      
      <div class="row" style="margin-top:20px">
          <div class="col">
            <!-- type="button" keeps the form from being submit, which is what we want in this case -->
            <button [hidden]="!canInvite" type="button" id="add_someone" (click)="addSomeone()" class="btn btn-primary col-sm-12"> 
                <i class="fas fa-user-plus"></i> Add Someone Else
            </button>
          </div>
      </div>
      
      <!-- remove this
      <button id="doit" (click)="doit()" class="btn btn-primary col-sm-12"> Do it </button>
       -->

      
      <div class="row" style="margin-top:20px">
          <div class="col">
              <button id="doit" [disabled]="!invitationForm.valid" (click)="doit()" class="btn btn-primary col-sm-12"> <i class="far fa-paper-plane"></i> Send Invite </button>
          </div>
      </div>

    </form>





<!--

    <form *ngIf="invitationForm" [formGroup]="invitationForm" (ngSubmit)="onSubmit()" novalidate ngNoForm>
      <div class="field" style="margin-bottom:20px">
        <div class="control">
          <input  (ngModelChange)='updateMessage()'
            class="form-control"
            type="phone"
            id="phone"
            formControlName="phone"
            placeholder="Phone"
          />
          <div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
            <p class="alert alert-danger" *ngIf="phone.errors.required">
              Phone is required
            </p>
            <p class="alert alert-danger" *ngIf="phone.errors.phoneNumberInvalid">
              Phone is not valid
            </p>
          </div>
        </div>
      </div>

      <div class="field" style="margin-bottom:20px">
        <div class="control">
          <input
            class="form-control"
            type="text"
            id="name"
            formControlName="name"
            placeholder="Name"
          />
          <div *ngIf="name.invalid && (name.dirty || name.touched)">
            <p class="alert alert-danger" *ngIf="name.errors.required">
              Name is required
            </p>
          </div>
        </div>
      </div>

      
      <div class="field" style="margin-bottom:20px">
        <span class="text-muted">Text Message</span>
        <br/>
        <textarea class="form-control"
                  id="message" 
                  formControlName="message"
                  placeholder="Text message"
                  rows="10">
                {{message}}
        </textarea>
      </div>


      <button id="submit_invitation" type="submit" class="btn btn-success col-sm-12" [disabled]="!invitationForm.valid">Send Invitation  <i class="fa fa-sms"></i> </button>
      <P>&nbsp;</P>
      <button id="cancel_invitation" type="button" (click)="cancel()" class="btn btn-secondary col-sm-12">Cancel</button>
      <P>&nbsp;</P>
      <button id="view_invitations_button" type="button" [routerLink]="['/invitation-list']" class="btn btn-primary col-sm-12">View Invitations</button>

    </form>
-->



  
</div>