
<div class="container">

  <form (ngSubmit)="onSubmit()" #minimalAccountInfoForm="ngForm">
      <!-- name field   -->

      <!-- terms of service with checkbox  -->

      <!-- privacy policy with checkbox  -->
    <div class="form-group">

      <div style="margin-top:20px"><h3>Terms of Service</h3></div>
      <div [innerHTML]="termsOfService"></div>
      <div>
        <!-- Default unchecked -->
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="tosCheckbox"
                  [(ngModel)]="tosCheck" name="tos" #tos="ngModel" required>
            <label class="custom-control-label" for="tosCheckbox">I agree with the terms of service</label>
        </div>
      </div>



      <div style="margin-top:20px"><h3>Privacy Policy</h3></div>
      <div [innerHTML]="privacyPolicy"></div>
      <div>
        <!-- Default unchecked -->
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="ppCheckbox"
                  [(ngModel)]="ppCheck" name="pp" #pp="ngModel" required>
            <label class="custom-control-label" for="ppCheckbox">I have read the privacy policy</label>
        </div>
      </div>

      <div style="margin-top:20px"><h3>Signature</h3></div>
      <div style="margin-top:10px">Entering your name below constitutes acceptance of the terms of service and agreement with our privacy policy</div>

      <input type="text" class="form-control" id="minimal_account_info_name_field" placeholder="Name"
              [(ngModel)]="nameValue" name="name" #name="ngModel" required>
      <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
        Name is required
      </div>
    </div>

    <button id="submit_personal_info" type="submit" class="btn btn-success col-12 col-sm-6 col-md-4" style="margin-bottom:30px"
            [disabled]="!minimalAccountInfoForm.form.valid">Submit</button>

  </form>

</div>
