
<div class="row banner-ad" style="margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;height:10px;padding-top:0;padding-bottom:0">
    <div class="col" style="background-color:white;margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;
                            padding-top:0px;padding-right:5px;padding-bottom:0px;padding-left:5px">
        <div style="border:1px solid gray; border-radius:10px;margin-top:5px;margin-right:0px;margin-bottom:20px;margin-left:0px">

            <div class="row" (click)="donate()" style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px">
                <div class="col-8"> 
                    <img src="assets/winred.png" height="50" style="display: block;margin-left:20px">          
                </div>
                <div class="col-3 pull-right" style="margin:auto">  <button class="col-12 btn btn-light" (click)="donate()"><i class="fas fa-dollar-sign"></i> Donate</button>              
                </div>
            </div>

        </div>

    </div>
</div>

