<div class="row" style="margin-top:20px">
  <div class="col">
    <h3>Teams</h3>
  </div>
  <div class="col text-right">
    <a [hidden]="!canCreateTeam" id="create_team" routerLink="/teams/add" class="btn btn-primary">+ Add Team</a>
  </div>
</div>


<span *ngIf="!teams || teams.length < 1">
<div class="row" style="margin-top:20px">
  <div class="col">
    You don't belong to any teams yet
  </div>
</div>
</span>



<table class="table table-striped">
  <!-- <thead>
  <tr>
    <th scope="col" colspan="2">My Teams</th>
    <th scope="col"></th>
  </tr>
  </thead> -->
  <tbody>
  <tr *ngFor="let team of teams" class="hand" [routerLink]="['/teams', team.teamDocId]"> <!-- object type here is actually TeamMember -->
    <!-- <td>
      <a [hidden]="!team.leader" id="delete_team_{{team.team_name}}">
        <i class="fa fa-times" aria-hidden="true" (click)="confirmDelete(team)"></i>
      </a>
    </td> -->
    <td id="team_in_list_{{team.team_name}}">{{team.team_name}}</td>
    <td class="text-right">
      <a id="select_team_{{team.team_name}}">
        <!-- fa-2x, fa-4x etc if you want bigger icons -->
        <!-- <i class="fa fa-chevron-right" aria-hidden="true" (click)="edit(team)"></i> -->
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
    </td>
    <!-- <td>{{team.created.toDate()}}</td> -->
  </tr>
  </tbody>
</table>
