{{closeResult}}
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col" colspan="2">My Teams</th>
    <!-- <th scope="col">Created</th> -->
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let team of teams">
    <td><a><i class="fa fa-edit fa-2x" aria-hidden="true" (click)="edit(team)"></i></a></td>
    <td><a (click)="editTeam(team)">{{team.name}}</a></td>
    <!-- <td>{{team.created.toDate()}}</td> -->
    <td><a><i class="fa fa-times fa-2x" aria-hidden="true" (click)="confirmDelete(team)"></i></a></td>
  </tr>
  </tbody>
</table>
