
<div class="container" style="border:1px solid #cdcdcd;border-radius:5px">
<div class="row">
    <div class="col"><B>Health Check</B>     
    </div>

</div>
<div class="row">
    <div class="col">
        <i class="fas fa-microphone" [ngStyle]="{'color': micAllowed==1 ? 'green' : 'gray'}"></i> Mic:<span *ngIf="micAllowed != 1">not</span>  enabled
    </div>
</div>

<div class="row">
    <div class="col">
        <i class="fa fa-video" [ngStyle]="{'color': cameraAllowed==1 ? 'green' : 'gray'}"></i> Camera:<span *ngIf="cameraAllowed != 1">not</span> enabled 
    </div>

</div>
</div>
