

<!-- THIS WORKS.  IT SHOWS A CAMERA AND MIC ICON AND TELLS YOU IF THESE ARE ENABLED OR BLOCKED
    BUT I DON'T KNOW IF WE REALLY NEED TO DISPLAY THIS.
    WHAT WE *DO* NEED IS THE LOGIC IN THE CORRESPONDING .ts FILE WHICH POPS UP A MODAL IF EITHER 
    THE MIC OR CAMERA ARE NOT ENABLED
    
<div class="container" style="border:1px solid #cdcdcd;border-radius:5px">
<div class="row">
    <div class="col"><B>Health Check</B>     
    </div>

</div>
<div class="row">
    <div class="col">
        <i class="fas fa-microphone" [ngStyle]="{'color': micAllowed==1 ? 'green' : 'gray'}"></i> Mic:<span *ngIf="micAllowed != 1">not</span>  enabled
    </div>
</div>

<div class="row">
    <div class="col">
        <i class="fa fa-video" [ngStyle]="{'color': cameraAllowed==1 ? 'green' : 'gray'}"></i> Camera:<span *ngIf="cameraAllowed != 1">not</span> enabled 
    </div>

</div>
</div>
 -->
