
<span  [hidden]="!isLoggedIn">
<form (ngSubmit)="onSubmit()" [formGroup]="commentForm">
    <div class="form-group">
    
        <div class="row">
            <div class="col-12"  style="margin-top:10px">
    
                <input type="text" class="form-control col-12" placeholder="Write a comment..."  formControlName="comment">
            </div>
        </div>
    
    
        <div class="row">
            <div class=" col-12 col-sm-4"  style="margin-top:10px">
    
                <button type="submit" class="btn btn-success col-12" [hidden]="!commentForm.valid">Save</button>
            </div>
            <div class=" col-12 col-sm-4"  style="margin-top:10px">
                <span *ngIf="!confirmDelete && comment && me && me.uid == comment.authorId">
                <button class="btn btn-danger col-12" (click)="confirmDelete = true">Delete</button>
                </span>

                <span *ngIf="confirmDelete && comment && me && me.uid == comment.authorId">
                <button class="btn btn-default col-12" (click)="confirmDelete = false" style="background-color:#ededed">Cancel</button>
                </span>


            </div>
            <div class=" col-12 col-sm-4"  style="margin-top:10px">

                <span *ngIf="confirmDelete && comment && me && me.uid == comment.authorId">
                <button class="btn btn-danger col-12" (click)="deleteComment(comment)">Confirm</button>
                </span>
            </div>
        </div>
        
    
    </div>
    
</form>
</span> 
            
           