
<span  [hidden]="!isLoggedIn">
<form (ngSubmit)="onSubmit()" [formGroup]="commentForm">
    <div class="form-group">
    
        <div class="row">
            <div class="col-12"  style="margin-top:10px">
    
                <input type="text" class="form-control col-12" placeholder="Write a comment..."  formControlName="comment">
            </div>
        </div>
    
    
        <div class="row">
            <div class="col"  style="margin-top:10px">
    
                <button type="submit" class="btn btn-success col-12 col-sm-2" [hidden]="!commentForm.valid">Save</button>
            </div>
        </div>
    
    
    
    </div>
    
</form>
</span> 
            
           