<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">{{ title }}</a>
  <div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a id="home_menu_item" class="nav-link" routerLink="/home"><i class="fa fa-home"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a id="logout_menu_item" class="nav-link" (click)="logout()">Logout</a>
      </li>
      <li class="nav-item">
        <a id="user_menu_item" class="nav-link" routerLink="/user">User</a>
      </li>
      <li class="nav-item">
        <a id="register_menu_item" class="nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a id="log_menu_item" class="nav-link" routerLink="/log">Log</a>
      </li>
      <li class="nav-item">
        <a id="users_menu_item" class="nav-link" routerLink="/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/token">Token</a>
      </li>
    </ul>
    <!-- search box for later if we want it

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    -->
  </div>
</nav>

<router-outlet></router-outlet>
