<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-md navbar-light bg-faded" style="background-color:#1167b1">  <!-- 03254c -->

 <!-- https://www.w3schools.com/howto/howto_js_sidenav.asp -->
 <div id="mySidenav" class="sidenav">
   <div id="myaccount_link" class="nav-heading" (click)="closeNav()" [routerLink]="['/myaccount']">
       
       <div class="row" [hidden]="!isLoggedIn" style="padding-top:20px;padding-bottom:20px">
           <div class="col-2">
               <div class="circular--portrait">
                   <img src="{{photoURL}}" width="29">
               </div>
           </div>

           <div class="col-10">
               <span *ngIf="name_or_phone">{{name_or_phone}}</span>
           </div> 
      </div>
      <div class="row" [hidden]="isLoggedIn">
          <div class="col" style="margin-left:-20px"><a id="login_link" class="nav-link" (click)="closeNav()" routerLink="/login" style="color:#ffffff"><i class="fas fa-sign-in-alt"></i> Login</a>
          </div> 
     </div>

   </div>
   <a href="javascript:void(0)" class="closebtn" id="closeNav" (click)="closeNav()" style="margin-right:-20px"><i class="fa fa-close" style="color:#ffffff"></i></a>
   <a id="home_link" class="nav-link" (click)="closeNav()" routerLink="/home"><i class="fa fa-home"></i> Home</a>
   <a [hidden]="!isLoggedIn" id="invitations_link" class="nav-link" (click)="closeNav()" [routerLink]="['/invitations']"><i class="fa fa-video"></i> Video Call</a>
   <a [hidden]="!isLoggedIn" id="invitations_link" class="nav-link" (click)="closeNav()" [routerLink]="['/my-videos']"><i class="fas fa-list"></i> My Videos</a>
   <a [hidden]="!isLoggedIn" id="teams_link" class="nav-link" (click)="closeNav()" [routerLink]="['/teams']"><i class="fa fa-users"></i> Teams</a>
   <a [hidden]="!isLoggedIn" id="teams_link" class="nav-link" (click)="closeNav()" [routerLink]="['/friends']"><i class="fa fa-users"></i> Friends</a>
   <a [hidden]="!isLoggedIn" id="logout_link"class="nav-link" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</a>

   <div [hidden]="!isAdmin"><hr/></div>
   <h5 [hidden]="!isAdmin" class="nav-link">Admin</h5>
   
   <a [hidden]="!isAdmin" id="users_link" class="nav-link" (click)="closeNav()" [routerLink]="['/users']"><i class="fa fa-users"></i> User Mgmt</a>
   <a [hidden]="!isAdmin" id="sms_link" class="nav-link" (click)="closeNav()" [routerLink]="['/admin/licensees']"> <i class="far fa-id-badge"></i> Licensees</a>
   <a [hidden]="!isAdmin" id="sms_link" class="nav-link" (click)="closeNav()" [routerLink]="['/admin/teams/all']"> <i class="fa fa-users"></i> Teams</a>
   <a [hidden]="!isAdmin" id="sms_link" class="nav-link" (click)="closeNav()" [routerLink]="['/sms']"> <i class="fa fa-sms"></i> SMS</a>
   <a [hidden]="!isAdmin" id="log_link" class="nav-link" (click)="closeNav()" [routerLink]="['/log']"><i class="far fa-file"></i> Logs</a>
   <a [hidden]="!isAdmin" id="terms_link" class="nav-link" (click)="closeNav()" [routerLink]="['/terms']"><i class="fas fa-file-contract"></i> Terms</a>
   <a [hidden]="!isAdmin" id="privacy_link" class="nav-link" (click)="closeNav()" [routerLink]="['/privacy']"><i class="fas fa-file-contract"></i> Privacy</a>
   <a [hidden]="!isAdmin" id="admin_video_link" class="nav-link" (click)="closeNav()" [routerLink]="['/admin/videos']"><i class="fas fa-video"></i> Videos</a>
   <a [hidden]="!isAdmin" id="admin_video_link" class="nav-link" (click)="closeNav()" [routerLink]="['/admin/tags']"><i class="fas fa-hashtag"></i> Tags</a>
   <a [hidden]="!isAdmin" id="admin_committee_link" class="nav-link" (click)="closeNav()" [routerLink]="['/admin/committees']"><i class="fa fa-users"></i> Committees</a>
   <!-- <a [hidden]="!isAdmin" id="admin_vm_link" class="nav-link" (click)="closeNav()" [routerLink]="['/admin/vm']"><app-vm-health></app-vm-health> VM</a> -->
   <h5 [hidden]="!isAdmin" class="nav-link">Settings</h5>
   <a [hidden]="!isAdmin" id="settings_link" class="nav-link" (click)="closeNav()" [routerLink]="['/settings/general']"><app-vm-health></app-vm-health> General</a>
   <a [hidden]="!isAdmin" id="settings_link" class="nav-link" (click)="closeNav()" [routerLink]="['/settings/twilio']"><i class="fas fa-cog"></i> Twilio</a>
   <a class="text-muted" style="font-size:12px">build no. 119</a>
 </div>

 <!-- Use any element to open the sidenav -->
 <span (click)="openNav($event)">
   <i id="hamburger_menu_icon" class="fa fa-bars" style="color:#ffffff"></i>
 </span>

 <app-recording-indicator></app-recording-indicator>

 <a class="navbar-brand" style="padding-left:10px;color:#ffffff" href="#">{{ title }} <i class="fa fa-video"></i> </a>

</nav>


<router-outlet></router-outlet>
<!--
<div id="footer">
    <div class="row no-gutters">
        <div class="col-4"><button class="col-12 btn btn-light" [routerLink]="['/']"><i class="fas fa-home"></i></button></div>
        <div class="col-4"><button class="col-12 btn btn-light" [routerLink]="['/invitations']"><i class="fa fa-video"></i></button></div>
        <div class="col-4"><button class="col-12 btn btn-light" routerLink="['/myaccount']"><i class="fas fa-user"></i></button></div>
    </div>
</div>
-->
