<div class="container">
<h3 style="margin-top:20px">Getting Started</h3>




<h5 style="margin-top:40px"><i class="fas fa-sms"></i> &nbsp; Opt in for Text Messaging</h5>
<B>From your phone click the Opt In button &nbsp;&nbsp; </B> <a class="btn btn-primary" [href]="smsUrl | safeUrl"> Opt In</a>
<P>Or text the word START to &nbsp; {{headsUpNumber | phone}}</P>



<h5 style="margin-top:80px"><i class="fas fa-user"></i> &nbsp; Create Your Account</h5>
Create your account by <a href="/login">logging in here</a>


<!-- 
<h5 style="margin-top:80px"> <i class="fa fa-bars"></i> &nbsp; Main Menu</h5>
Touch the &nbsp; <i class="fa fa-bars"></i> icon in the upper left to open the main menu.


<h5 style="margin-top:80px"><i class="fa fa-video"></i> &nbsp; Video Call</h5>
Touch &nbsp; <i class="fa fa-video"></i> Video Call to invite people to a video Call.
<P>Enter up to 3 names and numbers of people to invite.</P>


<h5 style="margin-top:80px"><i class="far fa-paper-plane"></i> &nbsp; Send Invite</h5>
Touch &nbsp; <i class="far fa-paper-plane"></i> Send Invite to invite your guest(s) to the video call.
<P>Each guest will receive a text message containing a link to join you on the video call.</P>


<h5 style="margin-top:80px"><i class="fas fa-phone-alt"></i> &nbsp; Join</h5>
Touch the &nbsp; <i class="fas fa-phone-alt"></i> Join button to connect with your guest(s).
<P>Your guest(s) will also need to touch the <i class="fas fa-phone-alt"></i> Join button to see you. </P>


<h5 style="margin-top:80px"><i class="fas fa-circle"></i> &nbsp; Start Recording</h5>
Touch the &nbsp; <i class="fas fa-circle"></i> Start Recording button to start recording the video call.
<P>You will see a red recording indicator at the top of the page whenever you are being recorded</P>


<h5 style="margin-top:80px"><i class="fas fa-stop"></i> &nbsp; Stop Recording</h5>
Touch the &nbsp; <i class="fas fa-stop"></i> Stop Recording button to stop recording the video call.


<h5 style="margin-top:80px"><i class="fas fa-circle"></i> &nbsp; Starting Over</h5>
You can start the recording over again just by touching the touching the &nbsp; <i class="fas fa-circle"></i> Start Recording button again.
<P>Only the last recording will be published.</P>


<h5 style="margin-top:80px"><i class="fas fa-phone-alt fa-rotate-135"></i> &nbsp; Hang Up</h5>
Touch the &nbsp; <i class="fas fa-phone-alt fa-rotate-135"></i> Hang Up button to end the video call.
<P>As the host, when you touch the &nbsp; <i class="fas fa-phone-alt fa-rotate-135"></i> Hang Up button, all guests will be disconnected at the same time.</P>


<h5 style="margin-top:80px"><i class="fas fa-cloud-download-alt"></i> &nbsp; Get Recording</h5>
Touch the &nbsp; <i class="fas fa-cloud-download-alt"></i> Get Recording button to tell HeadsUp to send you the recorded video call.
<P>This process can take several minutes.  HeadsUp will send you and the guest(s) a text message when the video is ready.</P>
<P>The text message will contain a link to the video.  This link can be emailed to friends and contacts and shared on social media.</P>
 -->

</div>