<div class="container">
  <h5>Invitations I Sent</h5>

  <span *ngIf="invitations.length == 0">
    You have not invited anyone to participate in a video call.  Click "Invite Someone" to, well... invite someone.
    <P>&nbsp;</P>
  </span>
  
  <div class="row">
    <div class="col-sm-12">
      <button id="send_invitation_button" type="button" [routerLink]="['/invitation-form']" class="btn btn-primary col-sm-12"><i class="fa fa-user-plus"></i> Invite Someone</button>
    </div>
  </div>

  <span *ngIf="invitations.length > 0">
    <P>&nbsp;</P>
    You have invited these people to participate in a video call
    <P>&nbsp;</P>
  </span>

  <div class="row" *ngFor="let invitation of invitations" style="border-top: 1px solid #ababab;padding: 10px 0px 10px 0px">
          <div class="col-6 col-lg-6" id="invitation_{{invitation.displayName}}">
            {{invitation.displayName}}
            <br/><a href="tel:{{invitation.phoneNumber}}">{{invitation.phoneNumber | phone}}</a>
          </div>
          <div class="col-4 col-lg-4 pull-right" id="invitation_{{invitation.created_ms}}">{{invitation.created_ms | date:'MMM d, yyyy'}}</div>
          <div class="col-2 col-lg-2">
            <a id="delete_invitation_{{invitation.displayName}}" class="hand pull-right">
              <i class="fas fa-trash fa-1x"
                      aria-hidden="teltrue"
                      (click)="confirmDelete(invitation)"></i>
            </a>
          </div>
  </div>


</div>