<div class="container">
  <h5>Invitations I Sent</h5>

  <span *ngIf="invitations.length == 0">
    You have not invited anyone to participate in a video call.  Click "Invite Someone" to, well... invite someone.
    <P>&nbsp;</P>
  </span>
  
  <div class="row">
    <div class="col-sm-12">
      <button id="send_invitation_button" type="button" [routerLink]="['/invitation-form']" class="btn btn-primary col-sm-12"><i class="fa fa-user-plus"></i> Invite Someone</button>
    </div>
  </div>

  <span *ngIf="invitations.length > 0">
    <P>&nbsp;</P>
    You have invited these people to participate in a video call
    <P>&nbsp;</P>
  </span>

  <table class="table table-striped">
    <!--
    <thead *ngIf="canAddTeamMembers">
    <tr>
      <th scope="col" colspan="2">Name
      </th>
      <th scope="col" class="text-right">Leader (Y/N)
      </th>
    </tr>
    </thead>
    -->
    <tbody>
    <tr *ngFor="let invitation of invitations">
      <td><a id="delete_invitation_{{invitation.displayName}}" class="delete_invitation">
            <i class="fa fa-times fa-1x"
                aria-hidden="true"
                (click)="confirmDelete(invitation)"></i></a>
      </td>
  
      <td id="invitation_{{invitation.displayName}}">{{invitation.displayName}}</td>
  
      <td id="invitation_{{invitation.phoneNumber}}">{{invitation.phoneNumber | phone}}</td>
  
  
  
    </tr>
    </tbody>
  </table>
</div>