
<div class="container" style="margin-top:20px">
<h5>We LOVE that you want create videos but...</h5>

<div class="row">
    <div class="col">
        You don't have a license to host video calls on HeadsUp.
        <P>But all hope is not lost...</P>
    </div>
</div>

<h5 style="margin-top:30px">Text the Admin</h5>

<div class="row">
    <div class="col">
        The Admin of this site is a great guy.  Send him a text at {{admin_phone | phone}} and tell him you would like to use HeadsUp to host video calls.
    </div>
</div>




</div>
