
<div class="container" style="margin-top:20px">
<h5>We LOVE that you want create videos but...</h5>

<div class="row">
    <div class="col">
        You don't have a license to host video calls on HeadsUp.
        <P>But all hope is not lost...</P>
    </div>
</div>

<h5 style="margin-top:30px">Licensed Organizations</h5>

<div class="row">
    <div class="col">
        HeadsUp has granted a license to the Texas Public Policy Foundation (TPPF) to use HeadsUp.
    </div>
</div>

<div class="row">
    <div class="col">
        <P>&nbsp;</P>
        <P>Contact the TPPF at <a href="tel:512.472.2700">512-472-2700</a> and ask them if you can become part of their HeadsUp team</P>
    </div>
</div>



</div>
