<div class="container" *ngIf="invitations">
  <!--
    <h3>SeeSaw Invitation</h3>
    <div class="row">
      <div class="col-sm-3">
        <span class="text-muted">To:</span> {{invitation.displayName}}
      </div>
      <div class="col">
        < <a href="tel:{{invitation.phoneNumber}}">{{invitation.phoneNumber | phone}}</a> >
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-3">
        <span class="text-muted">From:</span> {{invitation.creatorName}}
      </div>
      <div class="col">
        < <a href="tel:{{invitation.creatorPhone}}">{{invitation.creatorPhone | phone}}</a> >
      </div>
    </div>

    <div class="row">
      <div class="col">
        <span class="text-muted">Date:</span> {{invitation.created_ms | date:'long'}}
      </div>
    </div>

    <div class="row" style="margin-top:20px">
      <div class="col">
        <span class="text-muted">Text Message:</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{invitation.message}}
      </div>
    </div>

    <div class="row" style="margin-top:50px">
      <div class="col">
        <button id="join_call" (click)="join_call()" class="btn btn-success col-sm-12" ><i class="fa fa-video"></i> Join Call  </button>
      </div>
    </div>

    <div class="row" style="margin-top:50px">
      <div class="col">
        <button id="delete_invitation" class="btn btn-danger col-sm-12" ><i class="fas fa-times"></i> Delete Invitation  </button>
      </div>
    </div>
-->


</div>