
<!-- 
<div style="padding-left:10px;padding-right:10px"> <app-browser-check #mediaCheck (outputMediaResults)="onMediaResults($event)"></app-browser-check> </div>
 -->


<div class="container" style="margin-top:20px">
    <h5>Call Someone X</h5>


    <!-- button id="send_invitation_button" type="button" [routerLink]="['/invitation-form']" class="btn btn-primary">Send Invitation</button -->


    <!-- don't event show this form if the camera and mic aren't enabled -->
    <app-invitation-form></app-invitation-form>

    

</div>

