<h1>Log</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col"><app-date-chooser></app-date-chooser></th>
    <th scope="col"><app-search-log-by-level (level)="onLevelChosen($event)"></app-search-log-by-level></th>
    <th scope="col">event</th>
    <th scope="col"><app-search-user-by-phone (enteredPhone)="onPhoneEntered($event)"></app-search-user-by-phone></th>
    <th scope="col"><app-search-user-by-name (enteredName)="onNameEntered($event)"></app-search-user-by-name></th>
    <!-- <th scope="col">User ID</th> -->
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let logentry of log">
    <td colspan="5">
      <small>{{ logentry.date.toDate() }}</small>
      <br/>
      <span class="log_level log_element">{{ logentry.level }}</span>
      <span class="log_element">{{ logentry.displayName }} </span>
      <span class="log_element">{{ logentry.phoneNumber }} </span>
      <span class="log_element">{{ logentry.event }}</span> 
    </td>
    <!-- <td>{{ logentry.uid }}</td> -->
  </tr>
  </tbody>
</table>
