
<div class="container">
<h1>Log</h1>

<div class="row">
  <div class="col-md-4 col-lg-3">
      <div class="row padbottom10">
        <div class="col-lg-12">
          <app-search-log-by-level (level)="onLevelChosen($event)"></app-search-log-by-level>
        </div>
      </div>
      <div class="row padbottom10">
        <div class="col-lg-12">
          <app-date-chooser [from]="defaultFrom" [to]="defaultTo" (dateRangeSelection)="onDateRangeSelection($event)"></app-date-chooser>
        </div>
      </div>
      <div class="row padbottom10">
        <div class="col-lg-12">
          <app-search-user-by-name (selectedUser)="onUserSelectedByName($event)"></app-search-user-by-name>
        </div>
      </div>
      <div class="row padbottom10">
        <div class="col-lg-12">
          <app-search-user-by-phone (selectedUser)="onUserSelectedByPhone($event)"></app-search-user-by-phone>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <a id="goto_test_log" routerLink="/test/log" class="btn btn-primary">+ Add Logs</a>
        </div>
      </div>
  </div>

  <div class="col-md-8 col-lg-9">
      <div class="content" appScrollable (scrollPosition)="scrollHandler($event)">
          <p *ngIf="page.done | async" class="text-center"><b>NO MORE ENTRIES</b></p>
          <app-loading-spinner *ngIf="page.loading | async"></app-loading-spinner>
          <table class="table table-striped">
            <tbody>
            <tr *ngFor="let logentry of page.data | async">
              <td colspan="4">
                <small>{{ logentry.date.toDate() }}</small>
                <br/>
                <span class="log_element log_displayName">{{ logentry.displayName }} </span>
                <span class="log_element log_phoneNumber">{{ logentry.phoneNumber }} </span>
                <br/>
                <span class="log_element log_level">{{ logentry.level }}</span>
                <span class="log_element log_event">{{ logentry.event }}</span>
              </td>
            </tr>
            </tbody>
          </table>
      </div>
  </div>
</div>


</div>
