
    <div class="row" style="margin-bottom:20px">
        <div class="col" *ngIf="videoUrl" style="background-color:#000000">
            <video style="width:100vw;" controls playsinline preload="metadata">
                <source src="{{videoUrl}}" type="{{videoType}}">
                Your browser does not support the video tag.
            </video>

        </div>
    </div>
    
    <!-- sanity check...  
    <div class="row" style="margin-bottom:20px">
        <div class="col" *ngIf="videoUrl">
            <a href="{{videoUrl}}">{{videoUrl}}</a>
            <br/>{{browser}}
        </div>
    </div> 
     -->

<div class="container" style="margin-bottom:32px">

    <!-- ==================== VIDEO TITLE LABEL AND FIELD ========================= -->
    <div class="row" *ngIf="!editing_title">
        <div class="col" (click)="beginEditTitle()">
            <h3>
                <span *ngIf="video_title">{{video_title}}</span>  
                <span *ngIf="!video_title && initialized">(Add title)</span>  
            </h3>
        </div>
    </div>

    <div class="row no-gutters" *ngIf="editing_title">
        <div class="col-10 col-lg-11">
            <input class="form-control col-12"
                type="text"
                id="video_title"
                [(ngModel)]="video_title"
                placeholder="Title" />
        </div>

        <div class="col-2 col-lg-1">
            <button id="save_title" (click)="save_title()" class="btn btn-success col-12" ><i class="fas fa-check"></i>  </button>
        </div>
    </div>



    <!-- ==================== VIDEO DESCRIPTION LABEL AND FIELD ========================= -->
    <div class="row" *ngIf="!editing_description" style="margin-top:10px">
        <div class="col text-style" (click)="beginEditDescription()">
                <span *ngIf="video_description">{{video_description}}</span>
                <span *ngIf="!video_description && initialized">(Add description)</span>
        </div>
    </div>

    <div class="row" *ngIf="editing_description" style="margin-top:10px">
        <div class="col">
            <textarea class="form-control col-12"
                      id="video_description" 
                      placeholder="Video description"
                      [(ngModel)]="video_description"
                      rows="10">{{video_description}}</textarea>
        </div>
    </div>

    <div class="row" *ngIf="editing_description" style="margin-top:10px">
        <div class="col">
            <button id="save_description" (click)="save_description()" class="btn btn-success col-12"><i class="fas fa-check"></i>  Save Description </button>
        </div>
    </div>


    <div class="row" style="margin-top:10px" *ngIf="isHost">
        <div class="col">
            <button id="mybtn1" class="btn btn-primary col-12" (click)="openOfficialDialog()"> <i class="fas fa-user-plus"></i> Add Elected Official  </button>
        </div>
    </div>

    <span *ngIf="room && room.officials">
    <div class="row" style="margin-top:10px" *ngFor="let official of room.officials">
        <div class="col">
            <hr/>
            <app-view-official [canDelete]="isHost" [official]="official"></app-view-official>
        </div>
    </div>
    </span>


</div>




<div id="mybox1" class="mydiv target" [ngClass]="{'collapsed' : collapsed, 'translated': translated}">   
                
    <a href="javascript:void(0)" class="pull-right" (click)="translated = !translated"><i class="fa fa-close"></i></a>   
    <app-search-officials></app-search-officials>
  
</div> 

