
<div class="container" id="home_page">
    
    <div class="row" style="margin-top:75px">
        <div class="col-11 col-lg-8 offset-1 offset-lg-4"><h2>Video</h2></div>
    </div>

    <div class="row"><div class="col-11 col-lg-8 offset-1 offset-lg-4"><span class="script">...of</span>&nbsp;<span class="thepeople">The People</span></div></div>

    <div class="row"><div class="col-11 col-lg-8 offset-1 offset-lg-4"><span class="script">...by</span>&nbsp;<span class="thepeople">The People</span></div></div>

    <div class="row"><div class="col-11 col-lg-8 offset-1 offset-lg-4"><span class="script">...for</span>&nbsp;<span class="thepeople">The People</span></div></div>

    <div class="row"><div class="col-11 col-lg-8 offset-1 offset-lg-4"><span class="script">shall not perish from the net</span></div></div>

</div>
