
    
<div style="background-color:#1167b1;width:100%">

        

<div style="color:#003a6d;background-color:#ffffff;font-family:Arial, Helvetica, sans-serif;">
    
    <div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row heading">
                <div class="col-6">HeadsUp! </div>
                <div class="col-6">
                    <i class="fas fa-video" style="width:100%;opacity:0.7"></i>
                </div>
            </div>

            <!-- <div class="row content"> 
                <div class="col-12">
                     <a id="thing" class="foo" (click)="tempCss()">temp css2</a>
                     navigator.userAgent = {{userAgent}}
                </div>
            </div> -->
            

            <div class="row content">
                <div class="col-12">

                    Video calls just got simple
                    <BR/>Like, really simple
                    <BR/>Like, no-app-to-download simple
                    <!-- <BR/>Like, touch-a-link-in-a-text-message simple -->

                </div>
            </div>

            <div class="row content">
                <div class="col-12">
                    <button class="btn btn-primary offset-6 offset-md-8" style="font-size:24px;border-radius:24px" [routerLink]="['/get-started']">Get Started <i class="fas fa-chevron-right"></i></button>
                </div>
            </div>

        </div>
        <!-- <div class="col-6 col-md-4">
            <app-trending></app-trending> 
        </div> -->
    </div>
    </div>

</div>






<!-- <div class="container"  style="color:#ffffff;font-family:Arial, Helvetica, sans-serif;"> -->
    <div class="row">
        <div class="col-12">
            <app-trending></app-trending> 
        </div>
    </div>
<!-- </div> -->



<img src="assets/IMG_2.PNG" style="width:100%;opacity:0.2;align-self: center">
<!-- <img src="assets/IMG_4.PNG" style="width:100%;opacity:0.2;align-self: center"> -->



<div class="container"  style="color:#ffffff;font-size:18px;font-family:Arial, Helvetica, sans-serif;">

    <div class="row heading">
        <div class="col-12">Record Calls </div>
    </div>

    <div class="row content">
        <div class="col-12">

            Recording video calls just got <i>powerful</i>
            <BR/>Like, pause-resume-and-even-start-over-with-one-click powerful

        </div>
        
    </div>

    <div class="row content">
        <div class="col-6 offset-4">
            <i class="fas fa-stop-circle fa-4x" style="width:100%;opacity:0.2"></i>
        </div>
    </div>

</div>




<img src="assets/IMG_1.PNG" style="width:100%;opacity:0.2;align-self: center">




<div class="container"  style="color:#ffffff;font-size:18px;font-family:Arial, Helvetica, sans-serif;">

    <div class="row heading">
        <div class="col-12">No Genius Required </div>
    </div>

    <div class="row content">
        <div class="col-12">

            Not a genius?  Don't have to be.
            <P>If you can receive a text message, you can be on a HeadsUp call</P>

        </div>
        
    </div>

    <div class="row content">
        <div class="col-2 offset-3">

            <span class="fa-stack fa-2x" style="opacity:0.2">
                <i class="fas fa-graduation-cap fa-stack-1x"></i>
                <i class="fas fa-ban fa-stack-2x"></i>
              </span>

        </div>
    </div>    

</div>




<img src="assets/IMG_3.PNG" style="width:100%;opacity:0.2;align-self: center">




<div class="container"  style="color:#ffffff;font-size:18px;font-family:Arial, Helvetica, sans-serif;">

    <div class="row heading">
        <div class="col-12">No App to Download</div>
    </div>

    <div class="row content">
        <div class="col-12">

            Wanna download another app?
            <P>Didn't think so</P>
            <P>That's why we made HeadsUp browser-based.  Because who wants to download another app?</P>
            <P>Yeah  ...neither do we</P>

        </div>
        
    </div>

    <div class="row content">
        <div class="col-4 offset-2">
            
            <span class="fa-stack fa-2x" style="opacity:0.2">
                <i class="fab fa-app-store-ios fa-stack-1x"></i>
                <i class="fas fa-ban fa-stack-2x"></i>
            </span>
            
        </div>

        <div class="col-4">

            <span class="fa-stack fa-2x" style="opacity:0.2">
                <i class="fab fa-google-play fa-stack-1x"></i>
                <i class="fas fa-ban fa-stack-2x"></i>
            </span>

        </div>
    </div>


</div>



<div class="container"  style="color:#ffffff;font-size:18px;font-family:Arial, Helvetica, sans-serif;">

    <div class="row heading">
        <div class="col-12">Works on Any Device* </div>
    </div>

    <div class="row content">
        <div class="col-12">

            *Ok, technically not <i>any</i> device
            <P>HeadsUp does not work on 8 track players, casset decks, flip phones, landline phones and brick phones</P>
            <P>...and pagers</P>
            <P>But if your device has a camera and microphone, you can use HeadsUp</P>

        </div>
        
    </div>

    <div class="row content">
        <div class="col">
            <i class="fas fa-laptop fa-4x" style="opacity:0.2"></i>
        </div>

        <div class="col">
            <i class="fas fa-mobile fa-4x" style="opacity:0.2"></i>
        </div>

        <div class="col">
            <i class="fas fa-desktop fa-4x" style="opacity:0.2"></i>
        </div>
    </div>    

</div>















<div class="container"  style="color:#ffffff;font-size:18px;font-family:Arial, Helvetica, sans-serif;">

    <div class="row heading">
        <div class="col-12">Made in the USA!
        </div>
    </div>

    <div class="row content">
        <div class="col-12">

            HeadsUp is made <i>in</i> America <i>by</i> Americans

        </div>
        
    </div>
  

</div>




<img src="assets/IMG_FLAG.jpg" style="width:100%;opacity:0.2;align-self: centers">





<div class="container"  style="color:#ffffff;font-size:18px;font-family:Arial, Helvetica, sans-serif;">

    <div class="row heading">
        <div class="col-12">Simply <i>Powerful</i> 
            <P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...Powerfully <i>Simple</i></P>
        </div>
    </div>

    <div class="row content">
        <div class="col-12">

            There's simply no way to do a video call that's as simple as HeadsUp

        </div>
        
    </div>
  

</div>






</div>



