<div style="margin-top:20px;overflow-x:hidden;padding-left:20px;padding-right:20px;">
    <!-- <h3>{{tagName}}</h3> -->
    
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <app-trending></app-trending>
                </div>
            </div>


            <div class="row" style="margin-top:20px;">
                <div class="col">
                    <h5>{{tagName}}</h5>
                </div>
            </div>
            

            <div class="row" *ngFor="let room of rooms" style="margin-bottom:10px;padding-top:10px;padding-bottom:10px">
                <div class="col-12" style="border-top:1px solid #ababab;padding-top:10px">
                    <a href="/view-video/{{room.CompositionSid}}"><img [attr.src]="room.screenshotUrl" style="width:100%"></a>
                    <!-- <br/>screenshot: {{room.screenshotUrl}} -->
                    <BR/><B>{{room.video_title}}</B>
                    <BR/><span class="small text-muted">{{room.created_ms | date: 'short'}}</span>
                    
                </div>
            </div>
            
        </div>
    </div>
    



           
    
</div>
    
    